$mobile-contents-width: 640px;
$laptop-contents-width: 1024px;

$white: #ffffff;
$gray-scale-01: #f8f8f8;
$gray-scale-02: #f2f2f2;
$gray-scale-03: #ebebeb;
$gray-scale-04: #d6d6d6;
$gray-scale-05: #545454;
$gray-scale-06: #313131;
$gray-scale-07: #292929;
