@import "./mixin.scss";
@import "./_variables.scss";

* {
  outline: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: $white;

  &.modal-open {
    overflow: hidden;
  }
}

ul {
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include scale(padding, 50px 10px 20px 10px);

  @include desktop() {
    padding: 50px 0 20px 0;
  }
}

.header-contents {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-title {
  margin: 0;
  font-size: 30px;
  color: $gray-scale-05;
  font-family: Georgia, "Times New Roman", Times, serif;

  @include desktop() {
    font-size: 50px;
  }
}

.header-description {
  font-size: 12px;
  @include scale(line-height, 25px);
  @include scale(max-width, 550px);

  @include desktop() {
    font-size: 16px;
  }
}

.aside-list {
  display: flex;
  list-style-type: none;
  @include scale(padding, 10px 0px);
}

.image-download-button {
  width: 40px;
  background-color: $white;
  border: none;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

.goal-section {
  @include scale(padding, 0px 10px);

  @include desktop() {
    max-width: 1000px;
    padding: 0;
  }
}

// GoalList
.goal-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  @include scale(gap, 5px);
}

.goal {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio: 1 / 1;
  @include scale(gap, 5px);
}

.goal.disabled {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 7px;
  }
}

.idea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gray-scale-01;
  border-radius: 7px;
}

.goal.final > .idea.main {
  background-color: $gray-scale-03;
  border-style: solid;
  border-color: $gray-scale-04;
  @include scale(border-width, 2px);
}

.goal.final > .idea.sub {
  &:nth-child(1),
  &:nth-child(3),
  &:nth-child(7),
  &:nth-child(9) {
    background-color: $gray-scale-02;
  }

  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(6),
  &:nth-child(8) {
    background-color: $gray-scale-02;
  }
}

.goal.sub > .idea.main {
  background-color: $gray-scale-02;
  pointer-events: none;
}

.idea-textarea {
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  resize: none;
  overflow: hidden;
  color: $gray-scale-05;
  font-weight: 500;
  @include scale(font-size, 10px);

  @include desktop() {
    font-size: 14px;
  }
}

.goal.final > .idea.main {
  textarea {
    color: $gray-scale-07;
  }
}

// Footer
.footer {
  display: flex;
  justify-content: center;
  @include scale(padding, 50px 0px);
}

.footer-description {
  color: grey;
  @include scale(font-size, 15px);
}

.github-link {
  color: grey;
}
