* {
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:dimgrey;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

.goal-section {
  width: 1000px;
  height: 1000px;
}

.goals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  height: 100%;
}

.goal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  &.final {
    border: 1px solid red;
  }
}

.idea {
  &.main {
    border: 1px solid red;
  }
}

.idea-input {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #E8E8E8;
  border: none;
  text-align: center;
}