$white: #ffffff;
$gray-scale-01: #f8f8f8;
$gray-scale-02: #f2f2f2;
$gray-scale-03: #ebebeb;
$gray-scale-04: #d6d6d6;
$gray-scale-05: #545454;
$gray-scale-06: #313131;
$gray-scale-07: #292929;

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: $white;

  &.modal-open {
    overflow: hidden;
  }
}

ul {
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.header-title {
  margin: 0;
  font-size: 50px;
  color: #545454;
}

.header-description {
  max-width: 400px;
  line-height: 25px;
  font-family: sans-serif;
}

.aside-list {
  display: flex;
  padding: 10px 0;
  list-style-type: none;
}

.aside-list button {
  width: 40px;
  background-color: $white;
  border: none;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

.data-save-button {
  opacity: 1;
  &.disabled {
    opacity: 0.3;
  }
}

.goal-section {
  width: 1000px;
  height: 1000px;
}

// GoalList
.goals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  height: 100%;
}

.goal {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.goal.disabled {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 7px;
  }
}

.idea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gray-scale-01;
  border-radius: 7px;
}

.goal.final > .idea.main {
  background-color: $gray-scale-03;
  border: 2px solid $gray-scale-04;
}

.goal.final > .idea.sub { 
  &:nth-child(1), &:nth-child(3), &:nth-child(7), &:nth-child(9) {
    background-color: $gray-scale-02;
  }
  
  &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
    background-color: $gray-scale-02;
  }
}

.goal.sub > .idea.main {
  background-color: $gray-scale-02;
}

.idea-textarea {
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  resize: none;
  overflow: hidden;
  color: $gray-scale-05;
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
}

.goal.final >.idea.main {
  textarea {
    color: $gray-scale-07;
  }
}

// Footer
.footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.footer-description {
  font-family: sans-serif;
  font-size: 14px;
  color: grey;
}

// Modal
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0.9;
  }
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: $white;
  cursor: pointer;
  
  img {
    width: 100%;
    height: 100%;
    // border: 1px solid blue;
  }
}

.login-modal-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  gap: 30px;
  z-index: 1;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.12)
}

.login-modal-title {
  font-family: sans-serif;
  font-size: 22px;
  margin: 0;
  color: $gray-scale-06;
}

.google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
  width: 100%;
  padding: 18px 14px;
  border: 1px solid $gray-scale-04;
  border-radius: 8px;
  background-color: $white;
  color: $gray-scale-07;
  cursor: pointer;
}

.google-button-text {
  font-size: 14px;
  color: $gray-scale-05
}

.google-icon {
  position: absolute;
  left: 10px;
  width: 26px;
}